@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
body>div:first-child,
div#__next,
div#__next>div {
    width: 100%;
    height: 100%;
    color: white;
}

#__next {
    background-color: black;
    width: 100%;
    height: 100%;
}